.canvasText textarea {
    width: 100%;
    height: 100%;
    background-color: transparent;
    resize: none;
    border: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: white;
    font-size: 28px;
    font-weight: 400;
    box-sizing: border-box;
}

.postIt {
    background-color: yellow;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 4px;
    overflow: auto;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    white-space: pre-wrap;
}
