.App {
  text-align: center;
}

:root {
  --primary: #4285F4;
  --secondary: #2B2E30;
  --text-white: #D4D1CB;
  --background: #1B1D1E;
  --button-background: #292D2E;
  --button-hover: #2A303A;

  --font-primary: 'Poppins', sans-serif;

  --font-size-large: 32px;
  --font-size-medium-alt: 18px;
  --font-size-medium: 14px;
  --font-size-small: 12px;

  --avatar-size: 40px;
  --button-padding: 10px 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
